/* header
------------------------------ */
.header {
    width: 100%;
    background-color: #3875d7;
    padding: 3px;
    margin: 0px auto;
    width: 100%;
}

.header p {
    margin: 3px 0 0;
    font-size: 2.4rem;
    color: whitesmoke;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.button {
    border-radius: 100px;
}

.app {
    padding: 2em;
    text-align: center;
}

#searchButton {
    background: #FFFFFF url('data:image/svg+xml;utf8,<svg height="32" width="32" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><circle cx="8.5" cy="8.5" r="5"/><path d="m17.571 17.5-5.571-5.5"/></g></svg>') no-repeat 50% 50%;
    color: #2b2b2b;
    width: 32px;
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
}

.uif {
    -webkit-appearance: none;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    height: 40px;
    font-size: 100%;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-right: none;
}

.ubf {
    -webkit-appearance: none;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    width: 50px;
    height: 40px;
    font-size: 100%;
    vertical-align: top;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #1f76e2;
}

table td {
    background: #eee;
}
table tr:nth-child(odd) td {
    background: #fff;
}