{{define "materials"}}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>kassis</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="two columns"><p>kassis</p></div>
                <div class="ten columns text-right"><p>ログイン</p></div>
            </div>
        </div>
    </header>

    <div class="app">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <form action="/materials" method="GET">
                        <input class="u-cf uif" type="search" placeholder="フリーワード" name="qs" id="qs">
                        <button class="ubf" type="submit" id="searchButton"></button>
                    </form>
                </div>

                <div class="twelve columns">
                    検索結果一覧：Found:{{.NumFound}}
                    <table class="u-full-width">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>コンテンツ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .Materials }}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.Cellvalues}}</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}
