{{define "materials"}}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>kassis</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="two columns"><p>kassis</p></div>
                <div class="ten columns text-right"><p>alert ログイン</p></div>
            </div>
        </div>
    </header>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <form action="/materials" method="GET">
                        <input class="u-pull-left" type="search" placeholder="かんたん検索" name="qs" id="qs" maxlength="80">
                        <input class="button-primary" type="button" value="送信">
                    </form>
                </div>
                <div class="eight columns">
                    検索結果
                   <table class="list">
                        <tr class="row">
                            <th>ID</th>
                            <th>内容</th>
                        </tr>
                        {{ range .Materials }}
                        <tr class="row">
                            <td>{{.ID}}</td>
                            <td>{{.Cellvalues}}</td>
                        </tr>
                        {{ end }}
                    </table>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}
